/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.icon {
  font-size: 2rem;
  margin: 5px;
}

.footer-text {
  background-color: #191919;
  color: white;
}

.carouselImg {
  height: 400px;
  object-fit: cover;
}

.register-form {
  border-radius: 2%;
  width: 50%;
  padding: 1rem;
}

.register-input {
  width: 40%;
  margin: 0 auto 20px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 5px;
}

.register-label {
  font-weight: 500;
  font-size: large;
  font-style: italic;
  margin-top: 20px;
}

.asq {
  color: red;
}

.small-card {
  width: 300px;
  font-size: 0.8rem;
}

.small-card img {
  height: 250px;
  object-fit: cover;
}

.imgNavbar {
  border-radius: 5px;
  height: 90px;
  width: auto;
}

.formNavbar {
  width: 40%;
  max-width: 1200px;
}

.button-NavBar {
  border-width: 2px;
  text-transform: uppercase;
}

.photoCart {
  height: 200px;
  width: 200px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.inputCart {
  width: 80px;
}

.imgCardCategory {
  object-fit: cover;
  height: 180px;
  width: 150 px;
}

/*esto es de preguntas frecuentes*/
.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark.active {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.product-carousel {
  background-size: cover;
  background-position: center center;
}

.photoAvatarLogin {
  width: 40px;
  height: 40px;
}
